version: 2
jobs:
  build:
    docker:
      - image: sicz/dockerspec:[*VERSION*]
    working_directory: ~/docker-[*NAME*]
    environment:
      - MAKEFLAGS=--no-print-directory
    steps:
      - run:
          name: Set up Environment
          command: |
            curl -sSL https://github.com/SICZ/Mk/archive/master.tar.gz | tar -xzf -
            mv Mk-master ~/Mk
      - checkout
      - setup_remote_docker
      - run:
          name: Remote Docker engine version
          command: |
            docker version
      - run:
          name: Build Docker image
          command: |
            make rebuild
      - run:
          name: Run Docker container
          command: |
            make run
            make logs
      - run:
          name: Run tests
          command: |
            env DOCKER_CONTAINER_ID=$(cat .container_id) rspec --format doc
